<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block stylesheet %}{% endblock %}
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico"/>
    <title>{% block title %}Multipass - social sharing{% endblock %}</title>
</head>
<body>

<div class="row">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flashes">
        {% for category, message in messages %}
        <div class="alert alert-{{ category | default('info') }}">
            <h4 class="alert-heading">{{ category | default('info') | capitalize }}</h4>
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}
</div>

{% block navigation %}
<div class="navigation">
    {% if g.user %}
        <span>{{ g.user['email'] }}</span>
        <button><a style="text-decoration: none;" href="{{ url_for('tasks.dashboard') }}">Tasks</a></button>
        <button><a style="text-decoration: none;" href="{{ url_for('auth.logout') }}">Log Out</a></button>
    {% else %}
        <button><a style="text-decoration: none;" href="{{ url_for('auth.register') }}">Register</a></button>
        <button><a style="text-decoration: none;" href="{{ url_for('auth.login') }}">Log In</a></button>
    {% endif %}
</div>
{% endblock %}

<div id=main>
    {% block content %}{% endblock %}
</div>

</body>
</html>